################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DSA-assign-1.slnx
/.vs
.vscode/tasks.json
app.obj
app.pdb
vc140.pdb
